.main-container {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .card-container {
    height: 330px;
    margin: 1.25rem 0;
  }

  .card {
      transition: background-color 0.15s ease-in-out;
  }

  .card-animation-LIKE {
      background-color: $success;
  }

  .card-animation-DISLIKE {
    background-color: $danger;
    }

    .card-animation-RETWEET {
        background-color: $info;
    }
  
  .button-section {
    display: flex;
      flex-direction: column;
  }
  
  .button-section {
    flex: 1;
  }
  
  .button-container {
    display: flex;
      flex-direction: column;
    justify-content: center;
    flex: 1;
    align-items: center;
  }
  
  .box {
    padding: 0.5rem 1.25rem;
  }
  
  .button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .button-wrapper * {
    flex: 0 0 100%;
  }